{# Copyright (c) 2015-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}


{% from "helper.html" import print_flashes %}
{% from "helper.html" import print_errors %}
{% from "helper.html" import mark_errors %}

{% extends "layout.html" %}

{% block title %}
New Model
{% endblock %}

{% block nav %}
<li class="active"><a href="{{url_for('model.texts.generic.views.new', extension_id=extension_id)}}">New Model</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>New {% if extension_title %}{{ extension_title }}{% else %}Text{% endif %} Model</h1>
</div>

<script>
function syncAceEditor(){
	
    $('#create_button').html('<h3>Please wait...</h3>');	
	
    // Syncs (copies) the ace editor's contents to the custom_network flask container
    $("textarea#custom_network").val(editor.getValue());
    
}
</script>

<form onsubmit="syncAceEditor();" id="model-form" action="{{url_for('model.texts.generic.views.create', extension_id=extension_id)}}" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}

    {{ print_errors(form) }}

    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <h4 class="text-center">Available Datasets</h4>
                <div class="form-group{{mark_errors([form.dataset])}}">
                    {{form.dataset.label}}
                    {{form.dataset.tooltip}}
                    {{form.dataset(class='form-control', size=5)}}
                    <div id="dataset-summary"></div>
                </div>
            </div>

        </div>
        
<script>
$("#dataset").change(function() {
    if ($(this).val()) {
        $.ajax("{{url_for('model.texts.generic.views.select_x', extension_id=extension_id)}}" + "?job_id=" + $(this).val(),
            {
                type: "GET",
                }
            )
        .done(function(data) {
            $("#SELECT_X_COLUMNS").html(data);
            })
        .fail(function(data) {
            $("#SELECT_X_COLUMNS").html("");
            errorAlert(data);
            });
        }
    });
$("#dataset").change();
</script>
        <div class="col-lg-4">
            <div class="well">
                <h4 class="text-center">Solver Options</h4>

                <!-- Length -->
                
                <div class="form-group{{mark_errors([form.solver_type])}}">
                    {{form.solver_type.label}}
                    {{form.solver_type.tooltip}}
                    {{form.solver_type(class='form-control',id='solver_type')}}
                </div>
                <div class="form-group{{mark_errors([form.max_doc_length])}}">
                    {{form.max_doc_length.label}}
                    {{form.max_doc_length.tooltip}}
                    {{form.max_doc_length(class='form-control')}}
                </div>                
                <div class="form-group{{mark_errors([form.word_embed_size])}}">
                    {{form.word_embed_size.label}}
                    {{form.word_embed_size.tooltip}}
                    {{form.word_embed_size(class='form-control')}}
                </div>
                <div class="form-group{{mark_errors([form.validation_percents])}}">
                    {{form.validation_percents.label}}
                    {{form.validation_percents.tooltip}}
                    {{form.validation_percents(class='form-control')}}
                </div> 
                <div class="form-group{{mark_errors([form.batch_size])}}">
                    {{form.batch_size.label}}
                    {{form.batch_size.tooltip}}
                    <small class="pull-right">
                        {{form.batch_size.small_text}}
                    </small>
                    {{form.batch_size(class='form-control', placeholder='[network defaults]')}}
                </div>                
                <div class="form-group{{mark_errors([form.number_of_steps])}}">
                    {{form.number_of_steps.label}}
                    {{form.number_of_steps.tooltip}}
                    {{form.number_of_steps(class='form-control')}}
                </div> 

<script>
{% for choice in form.solver_type.choices %}
{% for fw in frameworks %}
{% if fw.supports_solver_type(choice[0]) %}
$("select[name=solver_type] > option[value={{choice[0]}}]").addClass("{{fw.get_id()}}");
{% endif %}
{% endfor %}
{% endfor %}

$("#solver_type").click(function() {
    if ($(this).val()) {
        $.ajax("{{url_for('model.texts.generic.views.solver_type', extension_id=extension_id)}}" + "?solver_id=" + $(this).val(),
            {
                type: "POST",
                }
            )
        .done(function(data) {
             })
        .fail(function(data) {
            errorAlert(data);
            });
        }
    });

</script>
    
            </div>
        </div>
        <div class="col-lg-4">
            <div class="well" id="data-transformation">
                <h4 class="text-center">Columns for Training</h4>
 
    			<div class="row">
       				<div class="col-sm-auto">

		                <div class="form-group{{mark_errors([form.select_x_columns])}}" id="SELECT_X_COLUMNS">
		                    {{form.select_x_columns.label}}
		                    {{form.select_x_columns.tooltip}}
		                    {{form.select_x_columns(class='form-control')}}
		                </div>
                	</div>
      				<div class="col-sm-5">               
		                <div class="form-group{{mark_errors([form.select_true_or_false])}}" id="SELECT_TRUE_OR_FALSE">
		                    {{form.select_true_or_false.label}}
		                    {{form.select_true_or_false.tooltip}}
		                    {{form.select_true_or_false(class='form-control')}}
		                </div>
                	</div>
      				<div class="col-sm-7">         				                 
		                <div class="form-group{{mark_errors([form.contents_x_selected])}}" id="CONTENTS_X_SELECTED">
		                    {{form.contents_x_selected.label}}
		                    {{form.contents_x_selected.tooltip}}
	                    	{{form.contents_x_selected(class='form-control',id='contents_x_selected', rows='5')}}
		                </div>
                	</div>                	                	
    			<div class="row">                	
       				<div class="col-sm-8">                 
		                <div class="form-group{{mark_errors([form.selected_y_column])}}" id="SELECTED_Y_COLUMN">
		                    {{form.selected_y_column.label}}
		                    {{form.selected_y_column.tooltip}}
	                    	{{form.selected_y_column(class='form-control',id='selected_y_column', rows='1')}}
		                </div>
                	</div>
                       <b>Select Y-column</b>                	
						<button class="btn btn-lg btn-primary" id="select_y_button">Select</button>
                    </div>
                </div>                	                	
                	
            </div>

        </div>
    </div>

    <hr>

<script>



$("#select_x_columns").change(function() {
    if ($(this).val()) {
    console.log("IN NEW HTML select_x_column" +  $(this).val())
        $.ajax("{{url_for('model.texts.generic.views.select_x_columns', extension_id=extension_id)}}" + "?x_col_id=" + $(this).val(),
            {
                type: "POST",
                }
            )
        .done(function(data) {
            $("#contents_x_selected").text(data);
            })
        .fail(function(data) {
            $("#contents_x_selected").text("");
            errorAlert(data);
            });
        }
    });
    
$("#select_true_or_false").change(function() {

    if ($(this).val()) {
        console.log('in new html SELECT TRUE OR FALSE ' + $(this).val());
        $.ajax("{{url_for('model.texts.generic.views.select_true_or_false', extension_id=extension_id)}}" + "?tr_fa_id=" + $(this).val(),
            {
                type: "POST",
                }
            )
        .done(function(data) {
            console.log("DONE WITH True/False" + JSON.stringify(data));
            $('#select_true_or_false').val("null").attr("selected", "selected");

            console.log("NEW SELECTED DROPDOWN " + $('#select_true_or_false').val());
            $("#contents_x_selected").html(data);

            })
        .fail(function(data) {
            $("#contents_x_selected").html("");
            errorAlert(data);
         });



         console.log("FINISHED ON CHANGE FOR SELECT TRUEFALSE")

     }
 });
    
$("#select_y_button").click(function(){
    console.log("button is clicked")
    $.ajax({url: "{{url_for('model.texts.generic.views.select_y_column', extension_id=extension_id)}}", success: function(result){
            console.log("RESULT" + result);
            $("#selected_y_column").text(result);
    }});
  });

var frameworks = {};
{% for fw in frameworks %}
framework = {
    name : '{{ fw.get_name() }}',
    supports_timeline_traces : '{{ fw.supports_timeline_traces() }}'=='True',
    };
frameworks['{{ fw.get_id() }}'] = framework;
{% endfor %}

var editor = ace.edit("ace-editor");
editor.$blockScrolling = Infinity;
editor.setTheme("ace/theme/chrome");
editor.session.setFoldStyle('manual');
editor.setShowPrintMargin(false);
var PythonMode = ace.require("ace/mode/python").Mode;
var LuaMode = ace.require("ace/mode/lua").Mode;
$( document ).ready(function() {
    editor.setValue($('textarea#custom_network').val());
    editor.selection.moveTo(0, 0);
});

function updateNetworkTab(method) {
    $('select[name=method]').val(method);
}
$('#network-tabs a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        parts = e.target.href.split('-');
        updateNetworkTab( parts[parts.length-1] );
        });
$('#network-tabs a[href="#network-tab-'+$("#method").val()+'"]').tab('show');
setFramework("{{form.framework.data}}");
</script>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            {% if form.select_gpu.choices|length > 2 and not multi_gpu %}
            <div class="form-group{{mark_errors([form.select_gpu])}}">
                <b>{{form.select_gpu.label.text}}</b><br>
                {% for choice in form.select_gpu %}
                <div class="radio">
                    <label>
                        {{choice}}
                        {{choice.label.text}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if form.select_gpus.choices| length > 1 and multi_gpu %}
            <div class="form-group{{mark_errors([form.select_gpu_count])}}">
                {{form.select_gpu_count.label}}
                {{form.select_gpu_count(class='form-control')}}
            </div>
            <p class="text-center"><i>or</i></p>
            <div class="form-group{{mark_errors([form.select_gpus])}}">
                {{form.select_gpus.label}}
                {{form.select_gpus.tooltip}}
                {{form.select_gpus(class='form-control', size=4)}}
            </div>
            <script type="text/javascript">
                // Only allow one of these to be selected
                $("#select_gpus").change(function(){ $("#select_gpu_count").val(null);});
                $("#select_gpu_count").change(function(){ $("#select_gpus").val(null);});
            </script>
            {% endif %}
            <div class="form-group{{mark_errors([form.group_name])}}">
                {{form.group_name.label}}
                {{form.group_name.tooltip}}
                {{form.group_name(class='form-control')}}
            </div>
            <div class="form-group{{mark_errors([form.model_name])}}">
                {{form.model_name.label}}
                {{form.model_name.tooltip}}
                {{form.model_name(class='form-control')}}
            </div>
            
            <div id="create_button">
            	<input type="submit" name="create-model" class="btn btn-primary btn-lg" value="Create">            
            </div>
            
        </div>
    </div>

</form>

{% endblock %}
