
<h4 class='text-center'>
    <a href="{{url_for('views.show_job', job_id=dataset.id())}}" target="_blank">
        {{dataset.name()}}
    </a>
</h4>

<div>
	{{form.select_x_columns.label}}
	{{form.select_x_columns.tooltip}}
	{{form.select_x_columns(class='form-control')}}
</div>

<script>


console.log('PAGE JUST LOADED, EMPTY THE DROPDOWN FOR XCOL' + $('#select_true_or_false').val())
$('#select_true_or_false').val("null").attr("selected", "selected");
$('#select_x_columns').val("null").attr("selected", "selected");

console.log("finished page load empty drop");

$("#select_x_columns").change(function() {

    if ($(this).val()) {
        console.log('hii select_x THIS VALUE' +  $(this).val() );

        $.ajax("{{url_for('model.texts.generic.views.select_x_columns')}}" + "?x_col_id=" + $(this).val(),
            {
                type: "POST",
              }
            )
        .done(function(data) {
            console.log('DONE SUCCESS select x col' + $(this).val());
            console.log("Data returned from select_x_col" + JSON.stringify(data));
            $('#select_true_or_false').val("null").attr("selected", "selected");
            console.log("NEW SELECTED DROPDOWN " + $('#select_true_or_false').val() );
            $("#contents_x_selected").text(data);
            })
        .fail(function(data) {
            console.log('DONE FAIL THIS VALUE' + $(this).val());
            $("#contents_x_selected").text("");
            errorAlert(data);
            });

        console.log("FINISHED ON CHANGE SELECT X")



    }
 });

 function after_load() {

           console.log('ok page loaded');
 }
 window.onload = after_load;
</script>

