{# Copyright (c) 2015-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}

<!doctype html>
<head>
    <!-- For Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css', ver=dir_hash) }}">
    <title>{% block title %}Itemizer{% endblock %}</title>

    <script type="text/javascript">
        var URL_PREFIX = "{{config['URL_PREFIX']}}";
    </script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootstrap-3.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootbox-4.3.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/errorAlert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/d3-3.5.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/c3-0.4.10.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery.autocomplete-1.2.21.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file_field.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/underscore-1.8.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/3rdparty/ace-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-python-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-lua-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.theme-chrome-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.ext-searchbox-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="{{ url_for("views.home") }}">LevaData Itemizer</a>            
        </div>
        <ul class="nav navbar-nav">
            {% block nav %}
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            <p class="navbar-text">
            {% if username %}
            {{username}} (<a class="navbar-link" href="{{ url_for("views.logout") }}">Logout</a>)
            {% else %}
            <a class="navbar-link" href="{{ url_for("views.login") }}">Login</a>
            {% endif %}
            </p>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-inverse">
                {% if server_name %}
                <li><span class="navbar-text">Server: {{server_name}}</span></li>
                {% endif %}

            </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<span class="caret"></span></a>
                <ul class="dropdown-menu about-menu navbar-inverse">
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/blog/">
                       LevaData Blog
                    </a></span></li>
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/about/press-releases/">
                        LevaData Press Releases
                    </a></span></li>
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/resources/">
                        LevaData Resources
                    </a></span></li>

                </ul>
            </li>
        </ul>
    </div>
</div>

{% from "helper.html" import serve_file %}

{% block job_content %}

<script src="{{ url_for('static', filename='js/model-graphs.js', ver=dir_hash) }}"></script>

{% set task = job.train_task() %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well">
      		<h3>Training has been successfully completed.</h3>
            <h4>Model Job Name: {{ job.name() }},   Group Name: {{job.get_group()}}</h4>				            	
 			<h4>Job Directory: {{job.dir()}},   Disk size: {{job.disk_size_fmt()}}</h4>
 			<h4>
                {% for key,value in task.get_model_files().items() %}
                {{key}}: {{serve_file(task, value)}}
                {% endfor %}
            </h4>
            <h4 class='text-center'>Results:</h4>
            <dl>    
				{% for key,value in job.get_train_results().items() %}
                <h4>{{key}}: {{value}}</h4>
                {% endfor %}
            </dl> 
               
            <h4 class='text-center'>Dataset:</h4>
            <div id="dataset-summary"></div>
            {% if job.dataset %}
            <script>
            $.ajax("{{url_for('dataset.views.summary', job_id=job.dataset.id())}}",
            {
                type: "GET",
                }
            )
            .done(function(data) {
                $("#dataset-summary").html(data);
                })
            .fail(function(data) {
                $("#dataset-summary").html("");
                errorAlert(data);
                });
            </script>
            {% endif %}      
      
       </div>
    </div>
  </div>
</div>

<script>

$("#view_extension_id").change(function() {
    if ($(this).val()) {
        $.ajax("{{config['URL_PREFIX']}}/models/view-config/" + $(this).val(),
            {
                type: "GET",
                }
            )
        .done(function(data) {
            $("#view_extension-details").html(data);
            })
        .fail(function(data) {
            $("#view_extension-details").html("");
            errorAlert(data);
            });
        }
    });
$("#view_extension_id").change();
</script>

<script type="text/javascript">
// When you fill in one field, the other gets blanked out
$("#text_path").change(function() { $("#text_file").val(""); });
$("#text_file").change(function() { $("#text_path").val(""); });
</script>

<script>
$("#data_extension_id").change(function() {
    if ($(this).val()) {

        $.ajax("{{config['URL_PREFIX']}}/datasets/inference-form/" + $(this).val() + "/" + "{{ job.dataset.id() }}",
            {
                type: "GET",
                }
            )
        .done(function(data) {
                if (data.length > 0)
                {
                    $("#default-inference-form").hide();
                    $("#custom-inference-form-html").html(data);
                    $("#custom-inference-form-html").show();
                }
                else
                {
                    $("#custom-inference-form-html").hide();
                    $("#default-inference-form").show();
                }
            })
        .fail(function(data) {
            $("#custom-inference-form-html").html("");
            errorAlert(data);
            });
        }
    });
$("#data_extension_id").change();
</script>

{% endblock %}

</body>
