{# Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}


{% from "helper.html" import print_flashes %}
{% from "helper.html" import print_errors %}
{% from "helper.html" import mark_errors %}

{% extends "layout.html" %}

{% block title %}
New Prediction
{% endblock %}

{% block nav %}
<li class="active"><a href="{{url_for('model.texts.classification.views.new')}}">New Prediction</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>New Prediction</h1>
</div>

<script>
function syncAceEditor(){
	
    $('#create_button').html('<h3>Please wait...</h3>');		
	
    // Syncs (copies) the ace editor's contents to the custom_network flask container
    $("textarea#custom_network").val(editor.getValue());
}
</script>

<form onsubmit="syncAceEditor();" id="model-form" action="{{url_for('model.texts.classification.views.create')}}" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}

    {{ print_errors(form) }}

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <div class="form-group{{mark_errors([form.dataset])}}">
                    {{form.dataset.label}}
                    {{form.dataset.tooltip}}
                    {{form.dataset(class='form-control', size=5)}}
                    <div id="dataset-summary"></div>
                </div>
            </div>

        </div>
        
<script>
$("#dataset").click(function() {
    if ($(this).val()) {
        $.ajax("{{url_for('model.views.summary')}}" + "?job_id=" + $(this).val(),
            {
                type: "GET",
                }
            )
        .done(function(data) {
            $("#dataset-summary").html(data);
            })
        .fail(function(data) {
            $("#dataset-summary").html("");
            errorAlert(data);
            });
        }
    });
$("#dataset").click();
</script>

        <div class="col-sm-4">
            <div class="well">
                <div class="form-group{{mark_errors([form.pretrained_networks])}}">
                    {{form.pretrained_networks.label}}
                    {{form.pretrained_networks.tooltip}}
                    {{form.pretrained_networks(class='form-control', size=5)}}
                    <div id="pretrained_network-summary"></div>
                </div>
            </div>

        </div>
        
<script>
$("#pretrained_networks").click(function() {
    if ($(this).val()) {
        $.ajax("{{url_for('model.views.summary')}}" + "?job_id=" + $(this).val(),
            {
                type: "GET",
                }
            )
        .done(function(data) {
            $("#pretrained_network-summary").html(data);
            })
        .fail(function(data) {
            $("#pretrained_network-summary").html("");
            errorAlert(data);
            });
        }
    });
$("#pretrained_networks").click();
</script>
        
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 well">
            {% if form.select_gpu.choices|length > 2 and not multi_gpu %}
            <div class="form-group{{mark_errors([form.select_gpu])}}">
                <b>{{form.select_gpu.label.text}}</b><br>
                {% for choice in form.select_gpu %}
                <div class="radio">
                    <label>
                        {{choice}}
                        {{choice.label.text}}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if form.select_gpus.choices| length > 1 and multi_gpu %}
            <div class="form-group{{mark_errors([form.select_gpu_count])}}">
                {{form.select_gpu_count.label}}
                {{form.select_gpu_count(class='form-control')}}
            </div>
            <p class="text-center"><i>or</i></p>
            <div class="form-group{{mark_errors([form.select_gpus])}}">
                {{form.select_gpus.label}}
                {{form.select_gpus.tooltip}}
                {{form.select_gpus(class='form-control', size=4)}}
            </div>
            <script type="text/javascript">
                // Only allow one of these to be selected
                $("#select_gpus").change(function(){ $("#select_gpu_count").val(null);});
                $("#select_gpu_count").change(function(){ $("#select_gpus").val(null);});
            </script>
            {% endif %}
            <div class="form-group{{mark_errors([form.group_name])}}">
                {{form.group_name.label}}
                {{form.group_name.tooltip}}
                {{form.group_name(class='form-control')}}
            </div>
            <div class="form-group{{mark_errors([form.model_name])}}">
                {{form.model_name.label}}
                {{form.model_name.tooltip}}
                {{form.model_name(class='form-control')}}
            </div>
            
            <div id="create_button">
            	<input type="submit" name="create-model" class="btn btn-primary btn-lg" value="Create">
            </div>	
            	
        </div>
    </div>

</form>


{% endblock %}
