{# Copyright (c) 2016-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}


{% from "helper.html" import print_flashes %}
{% from "helper.html" import print_combined_errors %}
{% from "helper.html" import mark_errors %}

{% extends "layout.html" %}

{% block title %}
New {{ extension_title }} Dataset
{% endblock %}

{% block nav %}
<li class="active"><a href="{{url_for('dataset.generic.views.new', extension_id=extension_id)}}">New Dataset</a></li>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>New {{ extension_title }} Dataset</h1>
</div>

<script>
function changeCreateButton(){
	
    $('#create_button').html('<h3>Please wait...</h3>');		
	
}
</script>

<form onsubmit="changeCreateButton();" action="{{url_for('dataset.generic.views.create', extension_id=extension_id)}}" enctype="multipart/form-data" method="post">

    {{ form.hidden_tag() }}
    {{ print_combined_errors(errors, warnings) }}

<!-- ???????????????????????????????? -->
<div class="well well-lg">
     <div class="row">
       	<div class="col-sm-12 ">     
         	{{ extension_html|safe }}
     	</div>         
     </div> 
     <div class="row"> 
        <div class="col-sm-5 ">                   
            <div class="form-group{{mark_errors([form.dataset_name])}}">
                {{ form.dataset_name.label }}
                {{ form.dataset_name(class='form-control') }}
            </div>
        </div>              
        <div class="col-sm-5 ">
            <div class="form-group{{mark_errors([form.group_name])}}">
                {{ form.group_name.label }}
                {{ form.group_name(class='form-control') }}
            </div>
        </div> 
        <div class="col-sm-2"> 
        
        	<div id="create_button">             
            	<input type="submit" name="create-dataset" class="btn btn-primary btn-lg" value="Create Dataset">
           	</div>
        </div>
    </div>

</form>

<script>
$(".explanation-tooltip").tooltip();
</script>

{% endblock %}
