{# Copyright (c) 2016-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}


<h4>
    <a href="{{url_for('views.show_job', job_id=dataset.id())}}" target="_blank">
        {{dataset.name()}}
    </a>
</h4>
<p>
<span class="text -{{dataset.status.css}}">{{dataset.status.name}}</span>
{% if not dataset.status.is_running() %}
<small>
    {{dataset.status_history[-1][1]|print_time}}
</small>
{% endif %}
</p>
<ul>
    <li>File Name: {{dataset.get_file_name()}}</li>
    <li>Number of Lines: {{dataset.get_lines_length()}}</li>    

</ul>

