{# Copyright (c) 2016-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}

<!doctype html>
<head>
    <!-- For Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css', ver=dir_hash) }}">
    <title>{% block title %}Itemizer{% endblock %}</title>

    <script type="text/javascript">
        var URL_PREFIX = "{{config['URL_PREFIX']}}";
    </script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootstrap-3.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootbox-4.3.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/errorAlert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/d3-3.5.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/c3-0.4.10.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery.autocomplete-1.2.21.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file_field.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/underscore-1.8.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/3rdparty/ace-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-python-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-lua-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.theme-chrome-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.ext-searchbox-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
 
            <a class="navbar-brand" href="{{ url_for("views.home") }}">LevaData Itemizer</a>            
        </div>
        <ul class="nav navbar-nav">
            {% block nav %}
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            <p class="navbar-text">
            {% if username %}
            {{username}} (<a class="navbar-link" href="{{ url_for("views.logout") }}">Logout</a>)
            {% else %}
            <a class="navbar-link" href="{{ url_for("views.login") }}">Login</a>
            {% endif %}
            </p>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-inverse">
                {% if server_name %}
                <li><span class="navbar-text">Server: {{server_name}}</span></li>
                {% endif %}

            </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<span class="caret"></span></a>
                <ul class="dropdown-menu about-menu navbar-inverse">
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/blog/">
                       LevaData Blog
                    </a></span></li>
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/about/press-releases/">
                        LevaData Press Releases
                    </a></span></li>
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/resources/">
                        LevaData Resources
                    </a></span></li>

                </ul>
            </li>
        </ul>
    </div>
</div>

{% block content %}
<div class="well well-lg">

    <div class="row">
        <div id="show-job-name" class="col-sm-12">

            <h4 style="display:inline;">Job/Dataset Name: {{ job.name() }},   Group Name: {{job.get_group()}},   Job Directory: {{job.dir()}},   Dataset size: {{job.disk_size_fmt()}},  Number of Lines: {{job.get_number_of_lines()}}</h4>				            	
				
               
            {% if job | has_permission('edit') %}
            <a href=# onClick="$('#show-job-name').hide(); $('#edit-job-name').show(); return false;"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
        </div>
            
            
        <div id="edit-job-name" class="col-sm-4" style="display:none;">
<script>
function updateJobName() {
    var newName = $("input[name=job-name]").val();
    $.ajax("{{url_for('views.edit_job', job_id=job.id())}}",
            {
                type: "PUT",
                data: {"job_name": newName}
                }
          )
    .done(function() {
            $("#show-job-name h2").html(newName);
            $('#edit-job-name').hide(); $('#show-job-name').show();
            })
    .fail(function(data) { errorAlert(data); });
    return false;
}
</script>
            <input name="job-name" class="form-control" value="{{job.name()}}"/>
            <a href=# class="btn btn-primary" onClick="return updateJobName();">Update</a>
            <a href=# class="btn btn-info" onClick="$('#edit-job-name').hide(); $('#show-job-name').show(); return false;">Cancel</a>
        </div>
 
        {% if job.username %}
        <small>Owner: {{job.username}}</small>
        {% endif %}
 

    </div>
<script>
$('#abort-job').on('click', function(event) {
        event.preventDefault();
        bootbox.confirm(
            'Are you sure you want to abort this job?',
            function(result) {
                if (result)
                    $.ajax("{{url_for('views.abort_job', job_id=job.id())}}",
                        {type: "POST"})
                    .done(function() {
                        $("#abort-job").hide();
                        })
                    .fail(function(data) { errorAlert(data); });
            });
        });

$('#delete-job').on('click', function(event) {
        event.preventDefault();
        bootbox.confirm(
            'Are you sure you want to delete this job?<br><br>All related files will be permanently removed.',
            function(result) {
                if (result)
                    $.ajax("{{url_for('views.delete_job', job_id=job.id())}}",
                        {type: "DELETE"})
                    .done(function() {
                        window.location = "{{url_for('views.home')}}";
                        })
                    .fail(function(data) { errorAlert(data); });
            });
        });
</script>
</div>

{% endblock %}

{% block job_content %}

<div class="well well-lg">
   
	<div style="height: 1000px; overflow: scroll;"> 

        <!-- Table -->
        <table id="items-table"

               class="table table-bordered table-striped table-responsive-sm"
               width="100%">

            <thead>
                <tr>
	                {% for strCol in job.get_list_of_columns() %}	                
                    	<th> {{strCol}} </th>
                   	{% endfor %}  
                </tr>
            </thead>
            <tbody>

	            {% for listLine in job.get_list_of_lines() %}
                <tr>	                
	                {% for strCol  in listLine %}
						<td> {{strCol}} </td>
                	{% endfor %} 	                	
                </tr>		               		
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}

</body>

            