{# Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}

<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', ver=dir_hash) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', ver=dir_hash) }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-lg-8 text-center">
      <div class="well well-sm">
		<h2>{{title}}</h2>
		{% if message %}
		{% autoescape false %}
		<h3 class="text-danger">{{message}}</h3>
		{% endautoescape %}
		{% endif %}
		{% if description %}
		<h3 class="text-danger">{{description}}</h3>
		{% endif %}
		{% if trace %}
		<pre class="text-muted">
		{% autoescape false %}
		{{trace}}
		{% endautoescape %}
		</pre>
		{% endif %}      

      </div>
    </div>
  </div>
</div>

</body>
</html>
