<html>
<head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', ver=dir_hash) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', ver=dir_hash) }}">

<script src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/3rdparty/bootstrap-3.3.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/3rdparty/bootbox-4.3.0.min.js') }}"></script>

</head>

<body>

{% if message %}

<p class="text-danger">{{message}}</p>

{% endif %}



<script>
function errorAlert(message) {
    var title, msg;
    title = 'An error occurred!';
    msg = message;
    bootbox.alert({
        title: title,
        message: msg,
    });
}
</script>

</body>
</html>