{# Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}

{% from "helper.html" import print_flashes %}

{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/time_filters.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/angular-1.5.3.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/ui-bootstrap-tpls-1.3.2.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/ngStorage-0.3.10.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/jquery.sparkline-2.1.2.min.js', ver=dir_hash) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home_app.js', ver=dir_hash) }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/table_selection.css', ver=dir_hash) }}">

{% with namespace = "/jobs" %}
    {% set room = "job_management" %}
    {% include 'socketio.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="row">
    {% if total_gpu_count %}
    <div id="gpus-available" class="pull-right" style="margin-top:20px">
        {{remaining_gpu_count}}/{{total_gpu_count}}
        GPU{{'s' if total_gpu_count != 1 }} available
    </div>
    {% endif %}
    <h1>Home</h1>
</div>

{{ print_flashes() }}

<style>
 #ruler { visibility: hidden; white-space: nowrap; }
 .dropdown-menu {
     width: 200px !important;
 }
 .input-group {
     width: 300px;
 }
</style>

<span id="ruler"></span>
<div class="row"
     id="all-jobs"
     ng-app="home_app"
     ng-controller="all_jobs_controller as jc"
     ng-click="deselect_all()"
     ng-cloak>
     
    {[jc.running_jobs = (jobs | filter:is_running);'']}
    {[jc.dataset_jobs = (jobs | filter:is_dataset);'']}
    {[jc.model_jobs = (jobs | filter:is_model);'']}
    {[jc.pretrained_model_jobs = (jobs | filter:is_pretrained_model);'']}
<!--     <section ng-controller="tab_controller as tab" ng-init="init({{request.args['tab']}})"> -->
    <section ng-controller="tab_controller as tab" ng-init="init({{3}})">        
        <!-- Tabs -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{active:tab.isSet(1)}">
                        <a href ng-click="tab.setTab(1, $event)">
                            <h4>
                                Datasets
                                <small>
                                    ({[jc.dataset_jobs.length]})
                                </small>
                            </h4>
                        </a>
                    </li>
                    <li ng-class="{active:tab.isSet(2)}">
                        <a href ng-click="tab.setTab(2, $event)">
                            <h4>
                                Models
                                <small>
                                    ({[jc.model_jobs.length]})
                                </small>
                            </h4>
                        </a>
                    </li>
                    <li ng-class="{active:tab.isSet(3)}" id="pretrainedModelTab">
                        <a href ng-click="tab.setTab(3, $event)">
                            <h4>
                                Predictions
                                <small>
                                    ({[jc.pretrained_model_jobs.length]})
                                </small>
                            </h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% include "partials/home/datasets_pane.html" %}
            {% include "partials/home/model_pane.html" %}
            {% include "partials/home/pretrained_model_pane.html" %}
        </div>
    </section>
</div>



{% endblock %}
