{# Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}

{% from "helper.html" import print_flashes, print_exception %}

{% extends "layout.html" %}

{% block title %}
{{job.name()}}
{% endblock %}

{% block head %}
    {% if job.status.is_running() %}
        {% with namespace = "/jobs" %}
            {% set room = job.id() %}
            {% include 'socketio.html' %}
        {% endwith %}
        
<script>
function setPanelClass(selector, css) {
    $(selector).removeClass("panel-default panel-primary panel-success panel-info panel-warning panel-danger");
    $(selector).addClass('panel-'+css);
}

socket.on('job update', function (msg) {
        if (msg['update'] == 'status') {
            $("#job-statuses .panel-title small").html(msg['status']);
            setPanelClass('#job-statuses', msg['css']);
            $("#job-statuses .job-statuses").html(msg['html']);
            if (!msg['running']) {
                $("#abort-job").hide();
                $('.gpu-utilization-info').hide();
            }
        }
    });

socket.on('task update', function (msg) {
        var status_selector = "#"+msg['task']+"-status";
        if (msg['update'] == 'status') {
            if (msg['show']) {
                $(status_selector+"-collapse").collapse('show');
            } else {
                $(status_selector+"-collapse").collapse('hide');
            }
            if (msg['running']) {
                $(status_selector+" .task-progress").show();
            } else {
                $(status_selector+" .task-progress").hide();
            }
            $(status_selector+" .panel-title small").html(msg['status']);
            setPanelClass(status_selector, msg['css']);
            $(status_selector+" .task-statuses").html(msg['html']);
        }
        else if (msg['update'] == 'progress') {
            $(status_selector+" .task-progress .progress-bar").width(msg['percentage'] + '%');
            $(status_selector+" .task-progress .progress-bar").html(msg['percentage'] + '%');
            $(status_selector+" .task-progress .task-eta").html(msg['eta']);
        }
        else if (msg['update'] == 'distribution') {
            drawDistributionGraph(msg['task'], msg['data']);
        }

        else if (msg['update'] == 'exploration-ready') {
            showExplorationLink(msg['task']);
        }

        else if (msg['update'] == 'gpu_utilization') {
            $('.gpu-utilization-info').show();
            $('.gpu-utilization-info').html(msg['html']);
        }
    });
</script>

    {% endif %}
    
{% endblock %}

{% block nav %}
<li class="active"><a href="{{ url_for('views.show_job', job_id=job.id()) }}">{{job.job_type()}}</a></li>
{% endblock %}

{% block content %}
<div class="well well-lg">
    <div class="row">
        <div id="show-job-name" class="col-sm-12">
            <h2 style="display:inline;">Dataset Name: {{ job.name() }}</h2>
            {% if job | has_permission('edit') %}
            <a href=# onClick="$('#show-job-name').hide(); $('#edit-job-name').show(); return false;"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
        </div>
   		<div id="edit-job-name" class="col-sm-4" style="display:none;">
<script>
function updateJobName() {
    var newName = $("input[name=job-name]").val();
    $.ajax("{{url_for('views.edit_job', job_id=job.id())}}",
            {
                type: "PUT",
                data: {"job_name": newName}
                }
          )
    .done(function() {
            $("#show-job-name h2").html(newName);
            $('#edit-job-name').hide(); $('#show-job-name').show();
            })
    .fail(function(data) { errorAlert(data); });
    return false;
}
</script>
                <input name="job-name" class="form-control" value="{{job.name()}}"/>
                <a href=# class="btn btn-primary" onClick="return updateJobName();">Update</a>
                <a href=# class="btn btn-info" onClick="$('#edit-job-name').hide(); $('#show-job-name').show(); return false;">Cancel</a>
        </div>
 
        {% if job.username %}
        <small>Owner: {{job.username}}</small>
        {% endif %}
 
        <div class="pull-right">
            {% if job.form_data is defined %}
            <a id="clone-job" class="btn btn-info" href="{{url_for('views.clone_job', clone=job.id())}}">Clone Job</a>
            {% else %}
            <a id="clone-job" class="btn btn-info" disabled>Clone Job</a>
            {% endif %}
            <a id="abort-job" class="btn btn-warning {{ 'hidden' if not job.status.is_running() }} {{'disabled' if not (job | has_permission('abort'))}}">Abort Job</a>
            <a id="delete-job" class="btn btn-danger {{'disabled' if not (job | has_permission('delete'))}}">Delete Job</a>

        </div>
    </div>
<script>
$('#abort-job').on('click', function(event) {
        event.preventDefault();
        bootbox.confirm(
            'Are you sure you want to abort this job?',
            function(result) {
                if (result)
                    $.ajax("{{url_for('views.abort_job', job_id=job.id())}}",
                        {type: "POST"})
                    .done(function() {
                        $("#abort-job").hide();
                        })
                    .fail(function(data) { errorAlert(data); });
            });
        });

$('#delete-job').on('click', function(event) {
        event.preventDefault();
        bootbox.confirm(
            'Are you sure you want to delete this job?<br><br>All related files will be permanently removed.',
            function(result) {
                if (result)
                    $.ajax("{{url_for('views.delete_job', job_id=job.id())}}",
                        {type: "DELETE"})
                    .done(function() {
                        window.location = "{{url_for('views.home')}}";
                        })
                    .fail(function(data) { errorAlert(data); });
            });
        });
</script>

</div>

{{ print_flashes() }}

<div class="row">
    {% block job_content_details %}
    {% endblock %}
</div>

{% endblock %}

