{# Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved. #}
{# Changed by LevaData 2019 #}

<!doctype html>
<head>
    <!-- For Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', ver=dir_hash) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css', ver=dir_hash) }}">
    <title>{% block title %}Itemizer{% endblock %}</title>

    <script type="text/javascript">
        var URL_PREFIX = "{{config['URL_PREFIX']}}";
    </script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootstrap-3.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/bootbox-4.3.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/errorAlert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/d3-3.5.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/c3-0.4.10.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/jquery.autocomplete-1.2.21.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file_field.js') }}"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/underscore-1.8.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/3rdparty/ace-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-python-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.mode-lua-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.theme-chrome-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/3rdparty/ace.ext-searchbox-1.2.3.min.js', ver=dir_hash) }}" type="text/javascript" charset="utf-8"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for("views.home") }}">LevaData Itemizer</a>            
        </div>
        <ul class="nav navbar-nav">
            {% block nav %}
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
            <p class="navbar-text">
            {% if username %}
            {{username}} (<a class="navbar-link" href="{{ url_for("views.logout") }}">Logout</a>)
            {% else %}
            <a class="navbar-link" href="{{ url_for("views.login") }}">Login</a>
            {% endif %}
            </p>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-inverse">
                {% if server_name %}
                <li><span class="navbar-text">Server: {{server_name}}</span></li>
                {% endif %}
                <li><span class="navbar-text">Itemizer version: <br> {{server_version}}</span></li>

            </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<span class="caret"></span></a>
                <ul class="dropdown-menu about-menu navbar-inverse">
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/blog/">
                       LevaData Blog
                    </a></span></li>
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/about/press-releases/">
                        LevaData Press Releases
                    </a></span></li>
                    <li><span class="navbar-text"><a target="_blank" href="https://www.levadata.com/resources/">
                        LevaData Resources
                    </a></span></li>

                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(".explanation-tooltip").tooltip();

window.onload = function () {
    $('.autocomplete_path').autocomplete({
       serviceUrl: '/autocomplete/path',
       formatResult: function (suggestion, currentValue)
       {
            function baseName(str)
            {
               var base = new String(str).substring(str.lastIndexOf('/') + 1);
               return base;
            }
            return baseName(suggestion.value);
        },
        minChars: 0
    });
    $(".autocomplete_path").removeAttr("autocomplete");
};

</script>

<style>
 .about-menu {
     width: 240px !important;
 }
 .brightness {
     display: inline-block;
 }
 .brightness img:hover {
     opacity: .75;
 }
</style>

</body>
